$ColorOfTitle: #F5F0FF;
$PrimaryColor: #6338BC;
$Button1Bg: #E2E3FF;
$Button1Text : #6338BC;
$Button2Bg : #F5F5F5;
$Button2Text : #616161;
$Button3Bg : #E5F9EE;
$Button3Text : #00C853;
$Button4Bg : #FCEDE5;
$Button4Text : #FFC107;
$Button5Bg : #FFE7E5;
$Button5Text :  #C62828;

:export{
    $ColorOfTitle: #F5F0FF;
    $PrimaryColor: #6338BC;
    $Button1Bg: #E2E3FF;
    $Button1Text : #6338BC;
    $Button2Bg : #F5F5F5;
    $Button2Text : #616161;
    $Button3Bg : #E5F9EE;
    $Button3Text : #00C853;
    $Button4Bg : #FCEDE5;
    $Button4Text : #FFC107;
    $Button5Bg : #FFE7E5;
    $Button5Text :  #C62828;
}






